.wrapper {
  display: flex;
  flex-direction: row !important;
  background: #ffff;
}
.img-phone-background {
  position: fixed;
  right: 0px;
  z-index: 1;
  top: 60px;
}
.auth-terms {
  position: absolute;
  bottom: 20px;
  z-index: 2;
  margin-left: 50px;
}
.os-header {
  z-index: 4;
  height: 80px;
  position: fixed;
  padding: 5px 0;
  right: 0;
  top: 0;
}
.form-wrapper {
  width: 45%;
  margin: auto !important;
}
.os-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: block;
  .row {
    padding-bottom: 2rem !important;
  }
}
.auth-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.wrap-auth {
  padding: 30px;
  border-radius: 4px;
  flex-grow: 0;
  flex-shrink: 0;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  z-index: 2;

  .go-back {
    margin: 6px 0 12px 0;
    button {
      border: 1px solid #cdcdcd;
      padding: 8px 12px;
      border-radius: 4px;
      background: #ffffff;
      cursor: pointer;
      color: #787878;
    }
  }
}
.wrap-auth {
  max-width: 400px;
  width: 100%;
}
.wrap-auth-register {
  border-radius: 4px;
  padding: 30px;
  width: 572px;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.wrap-event {
  width: 29%;
  position: fixed;
  img {
    width: 100%;
  }
}
.display-logo {
  position: fixed;
  max-width: 200px;
}

.btn-auth {
  width: 100%;
  margin: 8px 0;
  border-radius: 4px;
  display: block;
  padding: 14px 0;
  text-align: center;
  font-weight: bold;
  color: #ffffff !important;
  cursor: pointer !important;
}
.btn-auth:disabled {
  background: #787a8d !important;
  pointer-events: none !important;
  color: #d6d7e6 !important;
}
.wrap-auth-section {
  background-color: #ffff;
}
.wrap-text h1 {
  font-size: 4em;
}
.nav-menu {
  margin: 12px 0px;
  padding: 0;
  float: right;
}
.nav-menu li {
  display: inline-block;
  padding: 5px 7px;
}
.nav-menu li:last-child {
  padding-right: 0;
}
.nav-menu a {
  color: #161616 !important;
  padding: 10px auto;
  font-size: 16px;
}

@media only screen and (max-width: 700px) {
  .img-phone-background {
    display: none;
  }
}
@media only screen and (min-width: 1441px) {
  .wrap-auth-register {
    width: 672px !important;
  }
}
@media only screen and (min-width: 2001px) {
  .wrap-auth-register {
    width: 712px !important;
  }
}
@media only screen and (min-width: 2291px) {
  .wrap-auth-register {
    width: 792px !important;
  }
}
@media only screen and (min-width: 1441px) {
  .wrap-event {
    width: 26%;
  }
}
@media only screen and (min-width: 760px) {
  .wrap-auth-register {
    width: 572px;
  }
}

@media only screen and (max-width: 1118px) {
  .wrap-event {
    width: 33% !important;
  }
}

@media only screen and( max-width: 800px) {
  .form-wrapper {
    width: 100%;
    .auth-section {
      justify-content: center;
    }
  }
}
@media only screen and( max-width: 600px) {
  .wrap-auth-register {
    width: 100%;
    padding: 10px;
  }
}
@media only screen and (max-width: 1024px) {
  .wrap-event {
    display: none;
  }
  .display-logo {
    display: block !important;
  }
}
@media only screen and (min-width: 1025px) {
  .display-logo {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .auth-terms {
    display: none;
  }
}
@media only screen and (max-width: 450px) {
  .os-header {
    margin-right: -37px;
  }
}
@media only screen and (max-height: 964px) {
  .wrap-event {
    width: 29%;
  }
  .img-phone-background {
    top: 60px !important;
    img {
      width: 100%;
    }
  }
}
@media only screen and (min-height: 965px) {
  .wrap-event {
    width: 29%;
  }
  .img-phone-background {
    bottom: 0 !important;
    top: auto;
    img {
      width: 100%;
    }
  }
}
