.wrapper {
  display: flex;
  flex-direction: row !important;
}
.os-header {
  z-index: 2;
  height: 80px;
  position: fixed;
  background: rgb(237, 241, 251);
  background: linear-gradient(
    0deg,
    rgba(237, 241, 251, 0) 0%,
    rgba(237, 241, 251, 0.542454481792717) 50%,
    rgba(237, 241, 251, 0.9122023809523809) 100%
  );
  padding: 5px 0;
  right: 0;
  width: 42.5%;
  .logo {
    width: 180px;
    &:hover {
      cursor: pointer;
    }
  }
}
.form-wrapper {
  width: 45%;
}
.os-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: block;
}
.auth-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.wrap-auth {
  padding: 30px;
  border-radius: 4px;
  flex-grow: 0;
  flex-shrink: 0;
  margin: auto;
  .auth-sub-text {
    padding: 10px 0 15px 0;
    margin-top: -12px;
  }
  .go-back {
    margin: 6px 0 12px 0;
    button {
      border: 1px solid #cdcdcd;
      padding: 8px 12px;
      border-radius: 4px;
      background: #ffffff;
      cursor: pointer;
      color: #787878;
    }
  }
}
.wrap-auth {
  max-width: 410px;
  width: 100%;
}
.wrap-auth-register {
  width: 75%;
  margin: auto;
}
.wrap-event {
  width: 60% !important;
  position: relative;
  img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    box-shadow: none !important;
  }
}

.overlay-text {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding-left: 7%;
  padding-right: 20px;
  width: 100%;
  height: 100%;
  padding-top: 48%;

  h1 {
    font-size: 45px;
  }

  p {
    font-size: 18px;
  }
}
.btn-auth {
  width: 100%;
  margin: 8px 0;
  border-radius: 4px;
  display: block;
  padding: 14px 0;
  text-align: center;
  font-weight: bold;
  color: #ffffff !important;
  cursor: pointer !important;
}
.btn-auth:disabled {
  background: #787a8d !important;
  pointer-events: none !important;
  color: #d6d7e6 !important;
}
.wrap-auth-section {
  background-color: #f1f1f1;
}
.wrap-text h1 {
  font-size: 4em;
}
.nav-menu {
  margin: 12px 20px;
  padding: 0;
  float: right;
}
.nav-menu li {
  display: inline-block;
  padding: 5px 7px;
}
.nav-menu li:last-child {
  padding-right: 0;
}
.nav-menu a {
  color: #161616 !important;
  padding: 10px auto;
  font-size: 16px;
}

@media only screen and (min-width: 900px) {
  .wrap-auth-section {
    padding: 0px 0;
  }
  .os-container {
    width: 96%;
  }
}

@media only screen and (max-width: 1580px) {
  .wrap-auth-register {
    width: 80%;
  }
}

@media only screen and (max-width: 1480px) {
  .wrap-auth-register {
    width: 84%;
    padding-left: 17px;
  }

  .nav-menu {
    margin: 12px;
  }

  .navbar,
  .logo-container {
    padding: 0px 7px !important;
  }

  .os-header {
    width: 42.5%;
  }
}

@media only screen and (max-width: 1456px) {
  .wrap-auth-register {
    width: 90%;
  }
}

@media only screen and (max-width: 1370px) {
  .wrap-auth-register {
    width: 100%;
  }
}

@media only screen and (max-width: 1224px) {
  .os-header {
    width: 100%;
  }
  .wrap-event {
    display: none;
  }
  .form-wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .logo {
    margin-left: 6px !important;
  }
  .auth-section {
    min-height: 100vh;
    display: flex;
  }
  .wrap-event {
    display: none;
  }
  .hide-on-small {
    display: none !important;
  }
  .wrap-event {
    display: none;
  }

  .form-wrapper {
    width: 100%;
  }

  .os-header {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .os-header {
    padding-left: 12px;
    padding-right: 12px;
  }

  .wrap-auth {
    width: 100%;
    max-width: 430px;
  }
}

@media only screen and (max-width: 400px) {
  .wrap-auth {
    padding: 30px 5px;
  }
}
