.LoadingPage {
  min-height: calc(100vh - 130px) !important;
  .logo {
    width: 80px;
    animation: pulse 2s infinite;
  }

  @keyframes pulse {
    0% {
      width: 80px;
    }
    100% {
      width: 160px;
    }
  }
}
