.wallet {
  margin: 20px 0;
}
.one-currency {
  max-width: 300px;
  float: left;
  margin: 10px 20px 0 0;
  h3 {
    color: #666666;
    font-weight: 100;
  }
  .wallet-info {
    padding: 10px 15px;
    border: 0.5px solid #dcdcdc;
    border-radius: 4px;
    width: fit-content;
    max-width: 20rem;
    img {
      width: 32px;
      margin-right: 0.5rem;
    }
  }
}

.networth-placeholder {
  margin: 20px 0 10px 0;
  max-width: 430px;
}
.networth-placeholder img {
  float: left;
  margin-right: 3%;
  width: 43%;
}
