.ellipsis.vertical.large.link.icon {
  font-size: 1rem;
}
.menustyle-options {
  padding: 10px 0px;
  font-family: 'Roboto', sans-serif !important;
}
.iconItem {
  padding-top: 3px;
}

.icons {
  .itemName {
    font-family: 'Roboto', sans-serif !important;
  }
}
