.change-lg {
  border-radius: 2px !important;
  .change-lg__content {
    margin-top: 15px;
    .item {
      margin: 7px 0 !important;
      img {
        width: 82% !important;
      }
      .flag {
        margin: 3px 15px 0 0;
      }
    }
  }
}
