.otp-form {
  .otp-input-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 14px !important;
    .otp-input {
      width: 20% !important;
      input {
        padding-left: 0px !important;
        padding-right: 0px !important;
        text-align: center;
      }
    }
  }
}

.pin-form {
  .wrap-referral {
    margin: 20px 0;
    h3 {
      margin: 0;
    }
    button {
      cursor: pointer;
      background: #E85A26;
      padding: 3px 6px;
      color: #ffffff;
      border-radius: 3px;
    }
  }
}
