@import 'src/assets/styles/mixins';

.GetHelp {
  padding: 2rem;

  .PhoneList {
    padding: 0.7rem !important;

    color: rgba(37, 37, 37, 0.87);

    .PhoneNumber {
      font-size: 1.3rem;
    }

    .Action {
      font-size: 0.9rem;
    }

    span {
      display: block;
    }
  }
}

@include respond-to(tablets) {
  .GetHelp {
    margin: 0 auto;
  }
}

@include respond-to(mobile-landscape) {
  .GetHelp {
    .PhoneBox {
      padding: 0.3rem 0.3rem !important;

      span {
        font-size: 0.6rem;
      }
    }

    .Feedback {
      padding: 0.2rem 0.5rem;

      .TextEditor {
        padding: 0.3rem !important;

        .ui.disabled.button {
          color: #fff;
        }
      }
    }
  }
}

@include respond-to(mobile) {
  .GetHelp {
    .PhoneBox {
      padding: 0.3rem 0.3rem !important;

      span {
        font-size: 0.6rem;
      }
    }

    .Feedback {
      padding: 0.2rem 0.5rem;

      .TextEditor {
        padding: 0.3rem !important;
      }
    }
  }
}
