.form-information {
  .user-phone-number {
    .react-tel-input {
      width: 100%;
      .form-control {
        margin-left: 28px;
      }
      .flag-dropdown {
        border: none !important;
      }
    }
  }
}
