.user-phone-number {
  margin-top: 8px;
  .react-tel-input {
    border: 1px solid #d8dcde !important;
    border-radius: 5px;
    .form-control {
      width: 88.5% !important;
      height: 100%;
    }
    .flag-dropdown {
      border: none !important;
    }
  }
}
.react-datepicker-wrapper {
  width: 100%;
  input {
    padding: 14px!important;
  }
}
.wrap-date-picker {
  width: 100% !important;
  input {
    border: 1px solid #ced4da;
  }
}
.column {
  margin-bottom: 16px!important;
}