.react-tel-input {
  height: 47px;
  .form-control {
    margin-left: 28px !important;
    width: 90% !important;
  }
  .flag-dropdown {
    background-color: #ffff !important;
    height: 46px !important;
    border: 1px solid #cacaca !important;
    margin: 0px !important;
  }
}
