.dest-country-bank,
.dest-counties {
  width: 59%;
  margin: 0 auto;
  display: block;
  justify-content: space-between;
}
.ui.dropdown.custom-dropdown {
  max-width: 100% !important;
}
.country {
  margin-bottom: 1rem;
}

#input-8046 {
  margin-top: 10px;
}
.phone-bank {
  width: 59%;
  .ui.input {
    border: 1px solid #cfcfcf !important;
    width: 100%;
    height: 44px;
  }

  margin: 0 auto;
  .select-bank-account {
    display: flex;
    label {
      padding-top: 17px;
    }
    .currency-label {
      padding-top: 17px;
    }
  }
  .ui.dropdown.custom-dropdown {
    max-width: 270px !important;
  }
  .dest-phone {
    width: 68%;
  }
  margin-top: 9px;
  .add-new-phone {
    max-width: 100% !important;
    .react-tel-input {
      margin-top: 10px;
      .form-control {
        width: 93% !important;
        padding-left: 20px !important;
      }
      .form-information {
        .ui.input {
          width: 100% !important;
          border: 1px solid #999898 !important;
        }
        input {
          border: 1px solid #cfcfcf !important;
        }
      }
    }
    margin-top: 10px;
    max-width: 270px;
    .form-control {
      width: 100% !important;
      height: 46px;
    }
    .new-phone-number {
      input {
        height: 42px !important;
        border-color: #ccc;
        border-radius: 5px;
      }
      width: 68%;
    }
  }

  .new-dest-bank {
    .new-bank-account {
      height: 42px !important;
      border-color: #ccc;
      border-radius: 5px;
      width: 68%;
      padding-left: 16px;
    }
  }
}
.money-sections {
  width: 59%;
  margin: auto;
  margin-top: 8px;
  input {
    width: 68%;
  }
  .ui.input {
    width: 78%;
    border: 1px solid #cfcfcf;
  }

  .amount-value {
    .form-information {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      .label {
        margin: auto 0px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .phone-bank {
    .add-new-phone {
      .react-tel-input {
        .form-control {
          width: 100%;
        }
      }
    }
    .new-dest-bank {
      .new-bank-account {
        width: 100%;
      }
    }
  }
}
