.SelectLanguage {
  margin: 10px auto;
  min-width: 40px !important;
  position: absolute;
  z-index: 100;
  img.h-language {
    position: absolute;
    top: -6px;

    width: 34px !important;
  }
  .display-language-icon {
    .lang-text {
      margin-right: 12px;
      font-size: 16px;
      color: #161616;
      min-width: 50px;
      font-weight: 300;
    }
  }
}

.ui.dropdown .scrolling.menu {
  &::-webkit-scrollbar {
    display: none;
  }
}
