.user-phone-number {
  margin-top: 8px;
  .react-tel-input {
    border: 1px solid #d8dcde !important;
    border-radius: 5px;
    .form-control {
      width: 88.5% !important;
      height: 100%;
    }
    .flag-dropdown {
      border: none !important;
    }
  }
}
.submit-button {
  font-size: 18px;
  color: white;
  margin: 6px 0;
  background-color: var(--color-primary) !important;
  button {
    background: #343657 !important;
    border-radius: 0 !important;
    padding: 16px 0 !important;
  }
}
.sub-titles {
  margin-bottom: 5px;
}
.btn-signup {
  .btn-auth {
    margin: 20px 0;
  }
}
.from_login_link {
  margin: 15px 0;
}

.ui.form .field.field input {
  padding: 14px 10px;
}

.ui.search.dropdown > .text {
  padding: 4px 8px !important;
}
.ui.form .field.field input:-webkit-autofill {
  box-shadow: 0 0 0 100px #ffffff inset !important;
}
.column {
  margin-bottom: 16px !important;
}
